<div class="container">
	<div class="row">
		<ul class="nav nav-pills">
			{{#link-to 'decks.index' tagName='li' role='presentation'}}<a href="">Top Decks</a>{{/link-to}}
			{{#link-to 'decks.create' tagName='li' role='presentation'}}<a href="">Create a Deck</a>{{/link-to}}
		</ul>
	</div>
{{outlet}}
</div>
