<h1>Decks</h1>

{{#each model as |deck|}}
	<div>
		<h1>{{ deck.title }}</h1>
		{{#each deck.cards as |card|}}
			<img class="card-mini" src={{card.image_url}} title={{card.title}} alt={{card.title}}>
		{{/each}}
	</div>
{{/each}}
